
.title-bold{
  font-weight:bold !important;
}
.title{
  color:#ecf0f1;
  font-weight:200;
}
.title:before{
  background-image:url('../img/wheel.svg') !important;
  background-size: 60px 60px;
   display: inline-block;
   width: 60px;
   height: 60px;
   content:"";
   fill:red !important;
}
.data{
  padding:30px 0px;
}

.bottom {
    position: fixed;
    bottom: 0;
    color:#808080;
    text-align: center;
    width:100%;
}

.jumbotron-custom{
  background-color:#2c3e50 !important;
  border-radius:0px !important;
  height:140px;
  margin-bottom: 30px;
  border-bottom:4px solid #3498db;
}
.jumbotron-custom h1{
  padding:60px;
  margin-left:7%;
}
.ct-series-a .ct-line, .ct-series-a .ct-point {
  /* Set the colour of this series line */
  stroke: url("#linear") !important;
}
.ct-series-a .ct-area{
  fill: #3498db !important;
}
